
a{
    text-decoration: none;
}


/* ------------header------------ */
header{
    background: #ffb300;
    height: 60px;
}
.navBar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; height: 60px;
}
.navLogo img{
    width: 260px;
}

.navMenu{
    position: relative;
    display: flex;
}
.navMenu>li{
    margin: 0 20px;
    padding: 8px 12px;
}
.navMenu>li>a{
    padding-bottom: 17px;
    font: 18px/24px 'Gothic A1',sans-serif;
    font-weight: bold;
    color: #333;
}
.navMenu>li>ul{
    display: none;
    position: absolute;
    top:50px;left: 0;
    background: #ffb300;

}
.navMenu>li>ul>li{
    margin: 1px;
}
.navMenu>li>ul>li>a{
    padding: 20px;
    font: 18px/40px 'Gothic A1',sans-serif;
    color: #333;
}

.navIcons{
    position: relative;
    display: flex;
    align-items: center;
}

button{
    background: none;
    border: none;
}
button img{
    width: 30px;
    cursor: pointer;
}

form{
    display: none; /* flex로 열어주기 */
    position: absolute;
    top: 46px; right: 0;
    align-items: center;
    padding: 10px;
    background: #ffb300;
}
.btnSearch{
    margin: 0 15px;
    width: 20px; height: 20px;
}
.btnClose{
    margin-left: 10x;
    padding-left: 15px;
    border-left: 2px solid #848484;
    width: 18px; height: 18px;
    cursor: pointer;
}


.navIcons p{
    margin-left: 15px;
    cursor: pointer;
}
.navIcons p img{
    width: 30px;
}



/* header 이벤트 */
.navMenu>li:hover{
    background: #fff;
    border-radius: 4px;
}
.navMenu>li:hover>a{
    color: #ffb300;
}
.navMenu>li:hover ul{
    display: block;
}
.navMenu>li>ul>li:hover{
    background: #fff;

}
.navMenu>li>ul>li:hover>a{
    color: #ffb300;
}



/* ------------main------------ */
main{
    margin: 70px 0 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    font: 50px 'Cafe24 Ssurround',sans-serif;
}

.event{
    margin-top: 50px;
    width: 1200px;
}
.eventList li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.eventList li a img{
    width: 600px; height: 217.5px;
}

.eventList li a img:nth-child(1){
    position: relative;
}
.eventList li a img:nth-child(2){
    position: absolute;
    display: none;
}

main>p{
    margin-top: 50px;
    padding: 10px;
    border: 2px solid #ffb300;
    cursor: pointer;
}

/* header 이벤트 */
.eventList li:hover a img:nth-child(2){
    display: block;
}


/* ------------footer------------ */

footer{
    position: relative;
    background: #605747;
    height: 379px;
}
.footer-wrap{
    margin: 0 auto;
    width: 1200px;
}

.coInfo{
    position: absolute;
    top: 63px;
    display: flex;
}
.coInfo a{
    margin: 0 10px;
    font: 18px/22px 'Gothic A1',sans-serif;
    font-weight: bold;
    color: #fff;
}
.coInfo p:not(:nth-of-type(1)){
    border-left: 2px solid #fff;
}

.infoSub{
    display: flex;
    position: absolute;
    top: 140px;
}

.cs h2{
    font: 18px/22px 'Gothic A1',sans-serif;
    font-weight: bold;
    color: #fff;
}
.cs p:nth-child(2){
    margin-top: 20px;
    font: 24px/30px 'Gothic A1',sans-serif;
    font-weight: bold;
    color: #fff;
}
.cs p:last-child{
    margin-top: 26px;
    font: 16px/24px 'Gothic A1',sans-serif;
    font-weight: lighter;
    color: #fff;
}


.about{
    margin-left: 60px;
    padding-left: 50px;
    border-left: 2px solid #848484;
}
.about h2{
    font: 18px/22px 'Gothic A1',sans-serif;
    font-weight: bold;
    color: #eee;
}
.about p{
    margin-top: 43px;
    font: 16px/24px 'Gothic A1',sans-serif;
    font-weight: lighter;
    color: #eee;
}
